<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      {% assign logo_path = site.logo | strip %}
      {% if logo_path != "" %}
      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img src="{{ logo_path | relative_url }}" alt="{{ site.title }}" height="40">
      </a>
      {% else %}
      <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
      {% endif %}

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/objects/' | relative_url }}">Objects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/glossary/' | relative_url }}">Glossary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/about/' | relative_url }}">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
